name: Health check

on:
  push:
    branches:
      - main
  schedule:
    - cron: "10 * * * *"

jobs:
  healthcheck_job:
    runs-on: ubuntu-latest
    steps:
      - name: Check the deployed service URL
        uses: jtalk/url-health-check-action@v4
        with:
            url: https://full-stack-open-pokedex-kofx.onrender.com/
            # Follow redirects, or just report success on 3xx status codes
            follow-redirect: false # Optional, defaults to "false"
            # Fail this action after this many failed attempts
            max-attempts: 3 # Optional, defaults to 1
            # Delay between retries
            retry-delay: 5s # Optional, only applicable to max-attempts > 1